@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.menu-tab {
    display: grid;
    border-collapse: collapse;
    width: 80%;
    margin-top: 250px;
    color: #3e2f18;
    font-family:  'Inter', sans-serif;
    grid-template-columns: repeat(auto-fit, minmax(max-content, auto));
    margin-left: 20px;
}

.menu-tab-classic-coffee {
    border: 1px solid #CFB286;
    padding: 8px 20px;
    width: 100%;
    background-color: #e5d5bd;
    justify-content: space-between;
}

.classic-coffee{
    display: inline-block;
    background-color: #e5d5bd;
    font-size: 1.3rem;
    font-weight: 900;
}

.classic-coffee-ml{
    display: inline-block;
    background-color: #e5d5bd;
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
}


