
header {
    background-color: rgba(207, 178, 134, 0.8);
    width: 100%;
    height: 111px;
    position: fixed;
    z-index: 3;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}


.logo {
    text-align: center;
    margin-top: 5px;
    border-bottom: black;
}


.menu ul {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 2px;
}

.menu ul li {
    display: inline;
    margin: 0;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 1rem;
    color: black;
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
}

.menu ul li:hover {
    text-decoration: none;
    color: wheat;
}

a {
    text-decoration: none;
}

.banner1 {
    text-align: center;
    /*margin-left: 120px ;*/
    background: url("img/img_4.png") no-repeat center center;
    background-size: cover;
    min-height: 600px;
    padding: 80px 0;

}

.new-collection {
    position: relative;
    top: 200px;
    text-align: center;
    color: #CFB286;
    font-size: 3.75rem;
    font-family: 'Script MT Bold', sans-serif;
    opacity: 0.9;
}

.more {
    display: inline-block;
    position: sticky;
    top: 800px;
    text-align: center;
    color: #CFB286;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #CFB286;
    padding: 13px 25px;
    font-family: 'Segoe UI', sans-serif;
    opacity: 0.9;
}

.more:hover {
    text-decoration: none;
    color: black;
    background-color: #CFB286;
    transition: 1s;
}

.for-u span {
    text-align: center;
    margin-top: 120px;
    color: white;
    display: inline;
    font-size: 	1.87rem;
    font-family: 'Inter', sans-serif;
    margin-right: 22px;
    margin-left: 22px;
    float: left;
}

.for-u span:hover {
    box-shadow: 0 0 0 8px rgb(207, 178, 134);
    ransform: scale(1.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.for-u span picture{
    justify-content: center;
}

.banner2 {
    margin-top: 750px;
    text-align: center;
    min-height: 600px;
    padding: 50px 0;
    background: url("img/surface-V_JGp9lnojw-unsplash.jpg");
    background-size: cover;
    grayscale(1);
}


.banner2 blockquote {
    font-size: 1.4rem;
    padding: 10px 70px;
    font-family: 'Book Antiqua', sans-serif;
    background-color: rgba(207, 178, 134, 0.7);
    margin-left: 550px;
    margin-top: 100px;
    text-align: right;
    float: right;
}

.banner2 blockquote h1 {
    font-size: 5rem;
    font-family: 'Inter', sans-serif;
    text-align: right;
    float: right;
    letter-spacing: 5px;
    word-spacing: 10px;
}

.banner2 blockquote cite a {
    text-decoration: none;
    color: black;
}

.cat {
    width: 200px;
    left: 100px;
    background-color: #CFB286;
}

footer {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: black;
}

.net {
    color: #CFB286;
    font-family: 'Oswald', sans-serif;
    opacity: 0.8;
    padding-left: 70px;
    font-size: 1.57rem;
    font-weight: 700;
}

.footer1 a {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    opacity: 0.8;
    display: inline-block;
}

.net2{
    color: #CFB286;
    font-family: 'Oswald', sans-serif;
    opacity: 0.8;
    padding-left: 70px;
    font-size: 1.57rem;
    font-weight: 700;
}


.number {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    padding-top: 20px;
    opacity: 0.8;
    font-size: 1.15rem;
}
.mail {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    opacity: 0.8;
    font-size: 1.15rem;
    padding-top: 21px;
}



