
header {
    background-color: #CFB286;
    width: 100%;
    height: 111px;
    position: fixed;
    z-index: 3;
}
body, html {
    /*width: 100%;*/
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: Trebuchet MS, Helvetica, serif;
}

.Logo {
    text-align: center;
    margin-top: 5px;
    border-bottom: black;
}


.Menu ul {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 2px;
}

.Menu ul li {
    display: inline;
    margin: 0;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 16px;
    color: black;
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
}

.Menu ul li:hover {
    text-decoration: none;
    color: wheat;
}

a {
    text-decoration: none;
}

.Banner1 {
    text-align: center;
    /*margin-left: 120px ;*/
    background: url("img/img_4.png") no-repeat center center;
    background-size: cover;
    min-height: 600px;
    padding: 80px 0;

}

.NewCollection {
    position: relative;
    top: 200px;
    text-align: center;
    color: #CFB286;
    font-size: 60px;
    font-family: 'Script MT Bold', sans-serif;
    opacity: 0.9;
}

.More {
    display: inline-block;
    position: sticky;
    top: 800px;
    text-align: center;
    color: #CFB286;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #CFB286;
    padding: 13px 25px;
    font-family: 'Segoe UI', sans-serif;
    opacity: 0.9;
}

.More:hover {
    text-decoration: none;
    color: black;
    background-color: #CFB286;
    transition: 1s;
}

.ForU span {
    text-align: center;
    margin-top: 130px;
    color: white;
    display: inline;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin-right: 22px;
    margin-left: 22px;
    float: left;
}

.Banner2 {
    margin-top: 750px;
    text-align: center;
    min-height: 600px;
    padding: 50px 0;
    background: url("img/surface-V_JGp9lnojw-unsplash.jpg");
    background-size: cover;
}


.Banner2 blockquote {
    font-size: 22px;
    padding: 10px 70px;
    font-family: 'Book Antiqua', sans-serif;
    background-color: rgba(207, 178, 134, 0.7);
    margin-left: 550px;
    margin-top: 100px;
    text-align: right;
    float: right;
}

.Banner2 blockquote h1 {
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    text-align: right;
    float: right;
}

.Banner2 blockquote cite a {
    text-decoration: none;
    color: black;
}

.Cat {
    width: 200px;
    left: 100px;
    background-color: #CFB286;
}

Footer {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: black;
}

.Net {
    color: #CFB286;
    font-family: 'Oswald', sans-serif;
    opacity: 0.8;
    padding-left: 70px;
    font-size: 25px;
    font-weight: 700;
}

.Footer1 a {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    opacity: 0.8;
    display: inline-block;
}

.Net2{
    color: #CFB286;
    font-family: 'Oswald', sans-serif;
    opacity: 0.8;
    padding-left: 70px;
    font-size: 25px;
    font-weight: 700;
}


.Number {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    padding-top: 20px;
    opacity: 0.8;
    font-size: 18px;
}
.Mail {
    color: white;
    line-height: 5px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 80px;
    padding-bottom: 15px;
    opacity: 0.8;
    font-size: 18px;
    padding-top: 21px;
}



