@import "MediaAdapt.css";
@import "CafeStyle.css";

.menu-tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, auto));
    border-collapse: collapse;
    width: 100%;
    margin-top: 250px;
    color: #3e2f18;
    font-family:  'Oswald', sans-serif;

}

.menu-tab th, td {
    border: 1px solid #CFB286 ;
    padding: 8px 20px;
    width: 100%;
    background-color: #e5d5bd;
}

.menu-tab th {
    background-color: #e5d5bd;
    font-size: 1.2rem;
}


